<div class="text-xs">
  <h6 class="font-semibold mt-4 text-heading text-sm">
    About
  </h6>

  <p class="mt-2">
    Version: {{this.version}}
  </p>

  <p>
    Copyright © 2021 Ship Shape Consulting LLC. All rights reserved.
  </p>

  <p>
    <a href class="hover:text-alt-hover" {{on "click" this.visitWebsite}}>
      https://swach.io/
    </a>
  </p>
</div>