.context-menu {
  @apply border-0 font-thin rounded shadow text-sm;
  background-color: var(--menu-color);
  color: var(--menu-text-color);
}

.context-menu__item {
  @apply cursor-default flex items-center pl-4 pr-4;

  transition: color 0.25s;

  &:hover:not(.context-menu__item--disabled) {
    background-color: var(--menu-color);
    @apply text-menu-text-hover;

    svg path {
      fill: var(--menu-text-hover-color) !important;
    }
  }

  &.context-menu__item--disabled {
    color: var(--disabled-color);

    path {
      fill: var(--disabled-color) !important;
    }

    &:hover {
      cursor: not-allowed !important;
    }
  }
}
