.context-menu {
  @apply border-0 font-thin rounded shadow text-sm;
  background-color: var(--main-color);
  color: var(--alt-color);
}

.context-menu__item {
  @apply flex items-center pl-4 pr-4;

  &:hover {
    @apply bg-blue-500 text-white;
  }

  .fa {
    @apply mr-1 font-thin text-xs;
    transform: translateY(-1px);
  }
}
