.dragSortList.-isExpanded.-isDraggingOver:before,
.dragSortItem.-placeholderBefore:before,
.dragSortItem.-placeholderAfter:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 5px;
}

.dragSortItem.-placeholderBefore:before {
  border-left: 5px solid var(--dragged-swatch-color);
}

.dragSortItem.-placeholderAfter:before {
  border-right: 5px solid var(--dragged-swatch-color);
}

.dragSortList.-horizontal .dragSortItem.-placeholderBefore,
.dragSortList.-horizontal.-rtl .dragSortItem.-placeholderAfter {
  padding: 0 0 0 5px;
}

.dragSortList.-horizontal .dragSortItem.-placeholderAfter,
.dragSortList.-horizontal.-rtl .dragSortItem.-placeholderBefore {
  padding: 0 5px 0 0;
}

.color-history-list {
  &.dragSortList {
    overflow: hidden;
    position: relative;
  }

  &.dragSortList.-isExpanded {
    padding-top: 0;
  }

  .dragSortItem.-placeholderBefore:before,
  .dragSortItem.-placeholderAfter:before {
    display: none;
    padding-top: 0;
  }

  // &.dragSortList.-horizontal .dragSortItem.-placeholderBefore,
  // &.dragSortList.-horizontal .dragSortItem.-placeholderAfter,
  // &.dragSortList.-horizontal.-rtl .dragSortItem.-placeholderBefore
  // &.dragSortList.-horizontal.-rtl .dragSortItem.-placeholderAfter {
  //   padding: 0;
  // }

  .dragSortItem.-isDragged {
    display: block;
  }
}
