svg {
  &.drop-icon {
    path {
      fill: var(--drop-icon) !important;
      @apply transition-colors;
    }
  }

  &.icon {
    g,
    path {
      fill: var(--alt-color) !important;
      @apply transition-colors;
    }

    &:hover {
      g,
      path {
        fill: var(--alt-hover-color) !important;
      }
    }
  }

  &.stroke-icon {
    path {
      stroke: var(--alt-color) !important;
      @apply transition-colors;
    }

    &:hover {
      path {
        stroke: var(--alt-hover-color) !important;
      }
    }
  }

  &.menu-icon {
    path {
      fill: var(--menu-text-color) !important;
      @apply transition-colors;
    }
  }

  &.stroke-menu-icon {
    path {
      stroke: var(--menu-text-color) !important;
      @apply transition-colors;
    }

    &:hover {
      path {
        stroke: var(--menu-text-hover-color) !important;
      }
    }
  }
}

a,
button {
  svg.icon {
    &.filled {
      path {
        fill: var(--alt-color) !important;
        @apply transition-colors;
      }
    }
  }

  &:hover:not([disabled]) {
    svg.icon {
      path {
        fill: var(--alt-hover-color) !important;
      }

      &.filled {
        path {
          fill: var(--alt-hover-color) !important;
          @apply transition-colors;
        }
      }
    }

    svg.menu-icon {
      path {
        fill: var(--menu-text-hover-color) !important;
      }

      &.filled {
        path {
          fill: var(--menu-text-hover-color) !important;
          @apply transition-colors;
        }
      }
    }

    svg.stroke-icon {
      path {
        stroke: var(--alt-hover-color) !important;
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;

    svg.icon,
    svg.menu-icon {
      path {
        fill: var(--disabled-color) !important;
      }

      &.filled {
        path {
          fill: var(--disabled-color) !important;
          @apply transition-colors;
        }
      }
    }
  }
}
