html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-family: 'Inter', sans-serif;
  width: 100%;
}

* {
  -ms-overflow-style: none;
  
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  @apply cursor-default transition-colors;

  &:hover {
    @apply cursor-default;
  }
}

button {
  @apply cursor-default;
}

textarea,
select,
input,
button,
.ember-power-select-trigger,
.ember-power-select-dropdown {
  outline: none;

  &:focus {
    outline: none;
  }
}

.custom-arrow.ember-popover-arrow {
  border: 8px solid transparent;
}

.color-picker-arrow.ember-popover-arrow {
  margin-left: -28px;
}

.color-picker-popover.ember-popover {
  transform: translate3d(0px, 34px, 0px) !important;
}

.palette-color-squares {
  &.palette-locked {
    .dragSortItem,
    .dragSortItem.-isDragged {
      cursor: not-allowed !important;
    }
  }
}

.selected-color {
  &:after {
    content: ''; /* Required to display content */
    position: absolute; /* Sets the position absolute to the top div */
    bottom: 0;
    left: 50%;
    margin-left: -5px; /* Set margin equal to border px */
    width: 0;
    z-index: 1;
    height: 0;
    border-bottom: solid 5px #fff; /* Creates the notch */
    border-left: solid 5px transparent; /* Creates triangle effect */
    border-right: solid 5px transparent; /* Creates triangle effect */
  }
}

.kuler-color-picker-container {
  .IroWheel .IroHandle--isActive circle,
  .IroBox .IroHandle--isActive circle {
    transform: scale(1.75);
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button:disabled * {
  pointer-events: none;
}

.image-radio:checked + svg {
  @apply border-4 border-blue-600 rounded-lg;
}
