:root {
  --dragged-swatch-color: #677087;
}

body.light {
  --alt-color: #677087;
  --alt-hover-color: #1f2126;
  --disabled-color: #a0aec0;
  --main-color: #f1f1f1;
  --menu-color: #ffffff;
}

body.dark {
  --alt-color: #dfdfe0;
  --alt-hover-color: #c7c7c7;
  --disabled-color: #718096;
  --main-color: #292c32;
  --menu-color: #383a40;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: 'Muli', sans-serif;
  width: 100%;
}

* {
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  @apply cursor-default text-alt;
  transition: color 0.25s, background-color 0.25s;

  &:hover {
    @apply cursor-default text-alt-hover;
  }
}

button {
  @apply cursor-default;
}

textarea,
select,
input,
button,
.ember-power-select-trigger,
.ember-power-select-dropdown {
  outline: none;

  &:focus {
    outline:none;
  }
}

svg {
  &.icon {
    g,
    * {
      stroke: var(--alt-color) !important;
      transition: stroke 0.25s;
    }

    &:hover {
      g,
      * {
        stroke: var(--alt-hover-color) !important;
      }
    }

    &.filled {
      g,
      * {
        fill: var(--alt-color) !important;
        stroke: var(--alt-color) !important;
        transition: fill stroke 0.25s;
      }
    }
  }
}

a:hover svg.icon,
a:hover svg.icon g,
a:hover svg.icon *,
button:hover svg.icon,
button:hover svg.icon g,
button:hover svg.icon * {
  stroke: var(--alt-hover-color) !important;
}

.custom-arrow.ember-popover-arrow {
  border: 8px solid transparent;
}

.ember-power-select-option[aria-selected=true] {
  background-color: var(--main-color);
  color: var(--alt-color);
}

.ember-popover[x-placement^='bottom'] .custom-arrow {
  border-bottom-color: var(--main-color);
  top: -8px;
  left: calc(50% - 8px);
}

.ember-popover[x-placement^='left'] .custom-arrow {
  border-left-color: var(--main-color);
  right: -8px;
  top: calc(50% - 8px);
}

.liquid-container, .liquid-child {
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.palette-color-squares {
  .first {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  .last {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.pcr-app[data-theme='nano'] {
  @apply bg-menu overflow-hidden rounded-lg w-full;

  .pcr-result {
    @apply bg-main text-alt;
  }
}
