@tailwind base;
@tailwind components;

.btn {
  @apply bg-btn-bg-secondary cursor-default font-medium rounded text-btn-text-secondary text-sm transition-colors;
}

.btn:hover {
  @apply bg-btn-bg-secondary-hover;
}

.btn-primary {
  @apply bg-btn-bg-primary text-btn-text-primary;
}

.btn-primary:hover {
  @apply bg-btn-bg-primary-hover;
}

// TODO: add this back when we can make inputs work correctly with @tailwindcss/forms
// .form-checkbox {
//   @apply border-gray-300 rounded text-checkbox focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
// }

.input {
  @apply bg-input-bg border border-input-border pb-1 pl-2 pr-2 pt-1 text-main-text text-xs;
}

.input-prefix {
  @apply absolute flex h-full items-center left-0 ml-1 text-menu-text text-center text-smallest top-0;
}

.tab {
  @apply text-center text-menu-text px-3 py-2 font-medium rounded-md text-sm hover:text-menu-text-hover;
}

.tab.active {
  @apply bg-menu text-menu-text;
}

@tailwind utilities;
