:root {
  --dragged-swatch-color: #677087;
}

body.light {
  --alt-color: #b6b6ca;
  --alt-hover-color: #66667c;
  --btn-bg-primary: #1f1b3b;
  --btn-bg-primary-hover: #383069;
  --btn-bg-secondary: #cfd3df;
  --btn-bg-secondary-hover: #e4e8f2;
  --btn-text-primary: #ffffff;
  --btn-text-secondary: #505768;
  --disabled-color: #a4acc6;
  --drop-icon: #0e1c2a;
  --heading-color: #697088;
  --input-bg: #f1f2f5;
  --input-border: #e7e7ed;
  --main-color: #e7e7ed;
  --menu-color: #ffffff;
  --menu-text-color: #697088;
  --menu-text-hover-color: #363a48;
  --main-text: #363a48;
  --sub-text: #9ca2b1;
}

body.dark {
  --alt-color: #7a7ca5;
  --alt-hover-color: #a4a7d9;
  --btn-bg-primary: #ffffff;
  --btn-bg-primary-hover: #f2f4fb;
  --btn-bg-secondary: #383a55;
  --btn-bg-secondary-hover: #4b4d72;
  --btn-text-primary: #0e0f1f;
  --btn-text-secondary: #d8dff4;
  --disabled-color: #5e6078;
  --drop-icon: #ffffff;
  --heading-color: #a9acd3;
  --input-bg: #0e0f1f;
  --input-border: #000000;
  --main-color: #0e0f1f;
  --menu-color: #222336;
  --menu-text-color: #a9acd3;
  --menu-text-hover-color: #ffffff;
  --main-text: #ffffff;
  --sub-text: #9ca2b1;
}
