# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/electron-out/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/coverage/
!.*
.*/
.eslintcache

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# ember-electron
/electron-app/node_modules/
/electron-app/out/
/electron-app/ember-dist/
/electron-app/ember-test/

# Sentry
/electron-app/sentry-symbols.js

# Types
/types/