# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
*.html

# ember-try
/.node_modules.ember-try/

# ember-electron
/electron-app/node_modules/
/electron-app/out/

# Sentry
/electron-app/sentry-symbols.js

# Types
/types/
