# unconventional js
/blueprints/*/files/

# compiled output
/dist/
/electron-app/dist/

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
CHANGELOG.md
*.md

# ember-try
/.node_modules.ember-try/

/out/

# Types
/types/