<div class="colors-list flex-1 overflow-auto">
  {{#animated-each this.sortedColors use=this.transition as |color|}}
    <ColorRow
      @color={{color}}
      @deleteColor={{this.deleteColor}}
    />
  {{/animated-each}}
</div>