{{yield}}

<div class="color-pickers-container flex"
>
  <div
    class="background-color-picker"
    {{did-insert this.initBackgroundColorPicker}}
  >

  </div>

  <div
    class="foreground-color-picker"
    {{did-insert this.initForegroundColorPicker}}
  >

  </div>
</div>