<div class="inline-flex mt-2">
  <div
    class="input inline-block mr-2 overflow-hidden rounded whitespace-no-wrap"
  >
    <Input
      data-test-kuler-hex
      class="bg-input-bg text-xs w-full"
      type="text"
      value={{this.selectedColor.hex}}
      {{!-- {{on "blur" this.setBgColor}}
  {{on "keypress" this.enterPress}} --}}
    />
  </div>

  <div class="inline-flex flex-grow">
    <div
      class="input inline-block overflow-hidden rounded-l whitespace-no-wrap"
    >
      <span class="absolute text-center">
        R:
      </span>

      <Input data-test-kuler-r class="bg-input-bg text-right text-xs w-full" type="text" />
    </div>
    <div class="input inline-block overflow-hidden whitespace-no-wrap">
      <span class="absolute text-center">
        G:
      </span>

      <Input
        data-test-kuler-g
        class="bg-input-bg text-right text-right text-xs w-full"
        type="text"
      />
    </div>
    <div class="input inline-block overflow-hidden whitespace-no-wrap">
      <span class="absolute text-center">
        B:
      </span>

      <Input
        data-test-kuler-b
        class="bg-input-bg text-right text-right text-xs w-full"
        type="text"
      />
    </div>
    <div
      class="input inline-block overflow-hidden rounded-r whitespace-no-wrap"
    >
      <span class="absolute text-center">
        A:
      </span>

      <Input
        data-test-kuler-a
        class="bg-input-bg text-right text-right text-xs w-full"
        type="text"
      />
    </div>
  </div>
</div>