<div class="flex justify-center pb-8 w-full">
  <div class="w-auto" id="color-picker-container"></div>
</div>

{{#each this.palettes use=this.fade as |palette|}}
  <KulerPaletteRow
    @palette={{palette}}
    @selectedPalette={{this.selectedPalette}}
    @setSelectedIroColor={{this.setSelectedIroColor}}
    @setSelectedPalette={{this.setSelectedPalette}}
  />
{{/each}}