<div class="flex justify-center pb-8 w-full">
  <div class="w-auto" id="color-picker-container"></div>
</div>

<AnimatedContainer>
  {{#animated-each this.palettes use=this.fade as |palette|}}
    <KulerPaletteRow
      @baseColor={{@baseColor}}
      @palette={{palette}}
      @selectedPalette={{this.selectedPalette}}
      @setSelectedPalette={{this.setSelectedPalette}}
    />
  {{/animated-each}}
</AnimatedContainer>