<div class="bg-menu p-4 rounded w-full">
  <div class="flex justify-between pt-4 w-full">
    <h2 class="font-bold text-2xl">
      Confirm Registration
    </h2>
  </div>

  {{#if this.errorMessage}}
    <div class="bg-red-400 my-2 p-4 rounded text-xs text-red-800">
      {{this.errorMessage}}
    </div>
  {{/if}}

  <div class="mt-3">
    <div class="mb-6">
      <div class="mb-2">
        <label for="email-address" class="sr-only">
          Email address
        </label>

        <Input
          data-test-register-input-user
          autocomplete="email"
          class="input py-2 rounded-sm text-sm w-full"
          id="email-address"
          name="email"
          placeholder="Email address"
          required
          @type="email"
          @value={{this.username}}
        />
      </div>

      <div>
        <label for="confirmation-code" class="sr-only">
          Confirmation code
        </label>

        <Input
          data-test-register-input-code
          class="input py-2 rounded-sm text-sm w-full"
          id="confirmation-code"
          name="confirmation-code"
          placeholder="Confirmation code"
          required
          @type="text"
          @value={{this.code}}
        />
      </div>
    </div>

    {{! TODO: https://app.clickup.com/t/hcw0ey <div class="flex items-center justify-between">
      <div class="text-sm">
        <LinkTo @route="settings.cloud.register.resend" class="font-medium text-indigo-600 hover:text-indigo-500">
          Resend confirmation code
        </LinkTo>
      </div>
    </div> }}

    <div>
      <button
        data-test-register-submit
        class="btn btn-primary w-full"
        type="button"
        {{on "click" this.confirm}}
      >
        Confirm account
      </button>
    </div>
  </div>
</div>