<nav class="bg-btn-bg-secondary grid grid-cols-3 gap-2 rounded-full">
  <LinkTo class="tab" @replace={{true}} @route="settings.index">
    General
  </LinkTo>

  <LinkTo class="tab" @replace={{true}} @route="settings.cloud">
    Account
  </LinkTo>

  <LinkTo class="tab" @replace={{true}} @route="settings.data">
    Data
  </LinkTo>
</nav>