<div class="p-1 pb-4 pt-2">
  <h6 class="font-semibold mb-2 mt-4 text-heading text-sm">
    Data management
  </h6>

  <div class="flex h-8 w-full">
    <LoadingButton class="flex-1 mr-2" @loading={{this.isExporting}} @onClick={{this.exportIndexedDB}}>
      Export swatches
    </LoadingButton>

    <LoadingButton class="flex-1" @loading={{this.isImporting}} @onClick={{this.importIndexedDB}}>
      Import swatches
    </LoadingButton>
  </div>
</div>