<div class="input overflow-hidden relative whitespace-no-wrap w-20">
  <span class="input-prefix">
    {{capitalize @type}}:
  </span>

  <OneWayInputMask
    ...attributes
    class="bg-input-bg text-right text-xs w-full"
    maxlength={{3}}
    @mask="9{1,3}"
    @options={{
      hash
      isComplete=this.isComplete
      min=0
      max=255
      oncomplete=this.onComplete
      onincomplete=this.onIncomplete
      regex=this.rgbRegex
      showMaskOnFocus=false
      showMaskOnHover=false
      unmaskAsNumber=false
    }}
    @update={{fn @update}}
    @value={{@value}}
  />
</div>