<div class="mt-10 divide-y divide-gray-200">
  <div class="space-y-1">
    <h3 class="font-semibold text-heading text-sm leading-6">
      Profile
    </h3>
  </div>
  <div class="mt-6">
    <dl class="divide-y divide-gray-200 text-main-text">
      {{#each @model.attributes as |attr|}}
        <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4">
          <dt class="text-sm font-medium">
            {{attr.name}}
          </dt>
          <dd class="mt-1 flex text-sm sm:mt-0 sm:col-span-2">
            <span data-test-profile-detail={{attr.name}} class="flex-grow">
              {{attr.value}}
            </span>
            <span class="ml-4 flex-shrink-0">
              <button
                type="button"
                class="rounded-md font-medium text-purple-600 hover:text-purple-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
              >
                Update
              </button>
            </span>
          </dd>
        </div>
      {{/each}}
    </dl>
  </div>
</div>
<button class="btn btn-primary w-full" type="button" {{on "click" this.logOut}}>
  Log Out
</button>