<div class="bg-menu p-4 rounded w-full">
  <div class="pt-4 w-full">
    {{#if @model.email}}
      <h2 class="font-bold mb-6 text-2xl">
        Signed in as...
      </h2>

      <div
        data-test-profile-detail="email"
        class="border-input-border border-t border-b py-5 text-menu-text text-sm"
      >
        {{@model.email}}
      </div>
    {{/if}}
  </div>

  <div class="mt-6">
    <LoadingButton
      data-test-logout-submit
      class="btn btn-primary w-full"
      @loading={{this.loading}}
      @onClick={{this.logOut}}
    >
      Sign Out
    </LoadingButton>
  </div>
</div>