<h3 class="font-semibold leading-6 mt-4 text-heading text-sm">
  Account
</h3>

<div class="my-2 text-sm">
  {{#if @model.email}}
    Signed in as <span class="text-menu-text">{{@model.email}}</span>.
  {{/if}}
</div>

<button class="btn btn-primary w-full" type="button" {{on "click" this.logOut}}>
  Log Out
</button>