<div class="w-full space-y-8">
  <div>
    <h2 class="mt-6 text-center text-2xl font-bold">
      Forgot Password
    </h2>
    {{#if this.errorMessage}}
      <div class="alert alert-danger">
        {{this.errorMessage}}
      </div>
    {{/if}}
  </div>
  <div class="mt-8 space-y-6">
    <div class="rounded-md -space-y-px">
      <div>
        <label for="email-address" class="sr-only">
          Email address
        </label>
        <Input
          data-test-login-input-user
          id="email-address"
          name="email"
          type="email"
          autocomplete="email"
          required
          class="input rounded-t w-full"
          placeholder="Email address"
          @value={{this.username}}
        />
      </div>
    </div>

    <div>
      <button
        class="btn btn-primary w-full"
        type="button"
        {{on "click" this.forgotPassword}}
      >
        Send Code
      </button>
    </div>
  </div>
</div>