<LinkTo
  class="flex grow items-center mb-1 pb-2 pt-2 w-full text-alt hover:text-alt-hover"
  @route="palettes"
>
  {{svg-jar "chevron-left" class="stroke-icon mr-2" height="15" width="15"}}
  Palettes
</LinkTo>

{{#if (not this.model.isColorHistory)}}
  <div class="font-bold py-2 text-main-text text-xl">
    {{this.model.name}}
  </div>
{{/if}}

<ColorsList
  @palette={{this.model}}
  @toggleColorPickerIsShown={{this.application.toggleColorPickerIsShown}}
/>