<div class="p-4 max-w-xl w-full">
  <div class="flex flex-grow justify-between">
    <button {{action "launchPicker" target=this.application}}>
      {{svg-jar "dropper" class="icon" height="15" width="15"}}
    </button>

    <button {{action "showPreferences" target=this.application}}>
      {{svg-jar "gear" class="icon" height="15" width="15"}}
    </button>
  </div>

  <ColorsList/>
</div>