<button
  class="flex flex-grow items-center mb-1 pb-2 pt-2 w-full"
  {{on "click" (fn this.goBack)}}
>
  {{svg-jar "chevron-left" class="icon mr-2" height="15" width="15"}}
</button>

<Kuler @baseColor={{this.model}} />