<button
  class="flex flex-grow items-center mb-1 pb-2 pt-2 w-full"
  type="button"
  {{on "click" this.goBack}}
>
  {{svg-jar "chevron-left" class="stroke-icon mr-2" height="15" width="15"}}
</button>

<Kuler @baseColor={{this.model}} />