<button
  class="flex flex-grow items-center mb-1 pb-2 pt-2 text-alt w-full hover:text-alt-hover"
  type="button"
  {{on "click" (fn this.goBack)}}
>
  {{svg-jar "arrow-left" class="stroke-icon mr-2" height="15" width="15"}}
  <span class="font-bold text-sm uppercase">
    Back
  </span>
</button>

<SettingsNav />

<div class="p-4 text-main-text w-full">
  {{liquid-outlet}}
</div>