name: Electron

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  test:
    name: Tests
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'pnpm'
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb libx11-dev libpipewire-0.3-dev pkg-config libssl-dev
      - run: pnpm install
      - name: Magnifier Test
        run: pnpm test:magnifier 
      - name: Electron Test
        run: xvfb-run --auto-servernum pnpm test:electron   