name: Electron

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  test:
    name: Tests
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Use node 16.x
        uses: volta-cli/action@v1
        with:
          node-version: 16.x
      # Cache dependencies
      - name: Cache Dependencies
        uses: actions/cache@v2
        id: cache
        with:
          path: |
            **/node_modules
          key: yarn-${{ hashFiles('**/package.json', 'yarn.lock') }}
      # Install project dependencies
      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install-deps
      - name: Get xvfb
        run: sudo apt-get install xvfb  
      - name: Electron Test
        run: xvfb-run --auto-servernum yarn test:electron   