name: Linting

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  lint:
    name: JS and HBS
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - name: Lint JS
        run: pnpm lint:js
      - name: Lint HBS
        run: pnpm lint:hbs
