name: Linting

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  lint:
    name: JS and HBS
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'
      - name: Lint JS
        run: pnpm lint:js
      - name: Lint HBS
        run: pnpm lint:hbs
